@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700&display=swap');

/*
Así se escriben los comentario en CSS.
Siempre se abren con slash asterisco, y
se cierran con asterisco slash.
*/

*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Barlow', sans-serif;
    font-weight:400;
    color:#373737;
    background:linear-gradient(to bottom, #fff, #FFD54F);
}

h1 {
    font-family: 'Fugaz One';
    color:#FFFFFF; /* lo básico, para evitar problemas */
    color:rgba(255,255,255,0.8); /* si el navegador lo entiende, lo usa */
    text-align:center;
    letter-spacing:0.1em;
    animation: text-shadow 1.5s ease-in-out infinite;
    font-size: 5em;
    line-height: 1;
}

/* ANIMACION DEL TITULO
ESTE CODIGO LO SACAMOS DE INTERNET: https://codepen.io/erinesullivan/pen/ZMreqJ */

h1:hover {
    animation-play-state: paused;
}

@keyframes text-shadow {
    0% {
        transform: translateY(0);
        text-shadow:
            0 0 0 #0c2ffb,
            0 0 0 #2cfcfd,
            0 0 0 #fb203b,
            0 0 0 #fefc4b;
    }

    20% {
        transform: translateY(-1em);
        text-shadow:
            0 0.125em 0 #0c2ffb,
            0 0.25em 0 #2cfcfd,
            0 -0.125em 0 #fb203b,
            0 -0.25em 0 #fefc4b;
    }

    40% {
        transform: translateY(0.5em);
        text-shadow:
            0 -0.0625em 0 #0c2ffb,
            0 -0.125em 0 #2cfcfd,
            0 0.0625em 0 #fb203b,
            0 0.125em 0 #fefc4b;
    }

   60% {
        transform: translateY(-0.25em);
        text-shadow:
            0 0.03125em 0 #0c2ffb,
            0 0.0625em 0 #2cfcfd,
            0 -0.03125em 0 #fb203b,
            0 -0.0625em 0 #fefc4b;
    }

    80% {
        transform: translateY(0);
        text-shadow:
            0 0 0 #0c2ffb,
            0 0 0 #2cfcfd,
            0 0 0 #fb203b,
            0 0 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}

/* FIN ANIMACION TITULO */

h2{
    font-family: 'Barlow', sans-serif;
    color:#FFFFFF; /* lo básico, para evitar problemas */
    color:rgba(255,255,255,0.8); /* si el navegador lo entiende, lo usa */
    text-align:center;
    font-weight:500;
    font-size:1.5rem;
    letter-spacing:0.1em;
    padding-top:3rem;
}

@media screen and (max-width: 768px){
    h1{ font-size:2.25rem; margin-top:-40px;}
    h2{ font-size:1.2rem; margin-top:-30px;}
}

@media screen and (max-width: 576px){
    h1{ font-size:1.5rem; margin-top:50px;}
    h2{ font-size:.8rem; margin-top:-35px;}
}

h3{
    display:none;
}

h5, h6{
    font-weight:400;
}

a{
    color:rgb(155,0,0);
    text-decoration:none;
}

a:hover{
    color:rgb(255,0,0);
    text-decoration:underline;
}

header{
    width:100%;
    top:36%;
    position: absolute;
    text-align:center;
    z-index:9;
}

@media screen and (orientation: portrait){
    header{ top:12%; }
}

video{
    width:98%;
    padding:0 1% .75% 1%;
    height:auto;
}

main{
    width:100%;
}

/*
Puedes revisar detalles sobre el siguiente uso de flex
en https://www.taniarascia.com/easiest-flex-grid-ever/
*/

#equipo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:#fff /* lo mismo que #FFFFFF, simplificando pares iguales*/;
    color:rgba(255,255,255,1);
}

#equipo a{
    color:rgba(255,255,255,.7);
}

#equipo a:hover{
    color:rgba(255,255,255,.9);
}

.bio {
  font-size:15px;
  width: 200px;
  padding: 6rem 2rem 0.5rem 2rem;
}

.contacto {
  font-size:13px;
  letter-spacing: 0.1rem;
  font-weight: 700;
  padding: 0.2rem 2rem 0.75rem 2rem;
}

.integrante {
    flex-basis: 100%;
    transition:0.2s;
}

@media screen and (orientation: landscape){
    .integrante { flex:1; }
}

.integrante h4{
    padding: 2rem 2rem 0.25rem 2rem;
}

.integrante address{
    padding: 0.25rem 2rem;
    font-size:0.9em;
    font-style:normal;
}

@media screen and (orientation: landscape){
    .integrante .bio{
        padding: 6rem 2rem 0.5rem 2rem;
        max-width:50%;
    }
}

.integrante:nth-of-type(1){
    background-color:#4dd3ef;
    background-image:url('media/bonnefoy.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}


.integrante:nth-of-type(2){
    background:#ff737a;
    background-image:url('media/hip.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(3){
    background:#ed82df;
    background-image:url('media/vaccaro.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(1):hover{
    background-color:#9d7dee;
    background-image:url('media/bonnefoy2.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(2):hover{
    background:#7a87f0;
    background-image:url('media/hip2.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(3):hover{
    background:#eac387;
    background-image:url('media/vaccaro2.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}

#equipo:hover .integrante {
  filter:blur(2px);
  opacity:.5;
  box-shadow:none;
  transition:0.2s ease;
}

#equipo:hover .integrante:hover {
  filter:blur(0px);
  opacity:1;
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
  transition:0.2s ease;
}

/*

AHORA VAMOS POR PORTAFOLIO

*/

#portafolio{
    width:100%;
    padding:.25% 0;
    background:none;
}

.item {
    width:23%;
    margin:1%;
    color:#333;
    background:#fff;
    border:2px #333;
    box-shadow:0 0 5px rgba(0,0,0,.5);
}

@media screen and (max-width: 1000px){
    .item{
        width:31%;
        margin:1%;
        background:#fff;
        color:#333;
    }
}
 @media screen and (max-width: 600px){
     .item{
         width:96%;
         margin:2%;
         background:#fff;
         color:#333;
    }
}

 .item figure{
     overflow:hidden;
}
 .item figure img{
     width:100%;
     height:auto;
     margin-bottom:-4px;
}
/* .item:hover figure img{
     /*transform:scale(1.3);
     transition:all ease-out 1s;
} */

 .item h4{
     font-size:1em;
     letter-spacing:0.025em;
     margin:5% 5% 3% 5%;
}

 .item p{
     font-size:0.875em;
     letter-spacing:0.05em;
     margin:2% 5% 6% 5%;
}

.autor {
  font-size:0.8em;
  text-align:center;
  float:inherit;
  background: -webkit-linear-gradient(#2cfcfd, #0c2ffb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition:0.3s;
  margin:0 5% 3% 5%;
}

.item:hover .autor {
  text-decoration:none;
  background: -webkit-linear-gradient(#fefc4b, #fb203b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.parent {
  position: relative;
  overflow:hidden;
  top:0;
  left:0;
}
.deslizar1 {
  position: relative;
  right:0%;
}

.item:hover .deslizar1{
  right:100%;
  transition:all ease-out 1s;
}

.deslizar2 {
  position: absolute;
  left: 100%;
}

.item:hover .deslizar2{
  left: 0%;
  transition:all ease-out 1s;
}

 footer{
     width:100%;
     padding:2.5em 0 2em 0;
     text-align:center;
}
 footer p{
     text-transform:uppercase;
     letter-spacing:0.1em;
     font-size:0.9em;
}
